@model NHOM5_NET105_SD17305.Data.Models.Bill
<div class="row" style="text-align:center;">
    <div class="col-md-12">
        <h4>
            Edit Combo
        </h4>
    </div>
 
		<tr>
			<td>
				<p class="text-sm font-weight-bold mb-0">$@Model.RecipientName</p>
			</td>
		</tr>
    
    <div class="col-md-3"></div>
</div>

<div>
</div>