@using NHOM5_NET105_SD17305.Data.Models;
@model NHOM5_NET105_SD17305.Data.Models.Combos
@{
    List<Product> products = ViewBag.products;
}
<div class="row container">
    <div class="col-12">
        <h3 style="text-align:center;margin-bottom:50px">
            Combo
        </h3>
    </div>
    <div class="col-md-12">
        <form asp-area="Admin" asp-controller="Combos" asp-action="CreateCombo" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Tên Combo</label>
                <input asp-for="CombosName" class="form-control" />
                <span asp-validation-for="CombosName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ảnh</label>
                <input type="file" name="imageFile" class="form-control" accept="image/*" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Giá</label>
                <input asp-for="CombosPrice" class=" form-control" />
                <span asp-validation-for="CombosPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Giảm Giá</label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Số lượng</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mô tả</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mô tả chi tiết</label>
                <input asp-for="LongDescription" class="form-control" />
                <span asp-validation-for="LongDescription" class="text-danger"></span>
            </div>
            <div class="form-group" style="text-align:center">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>