@model NHOM5_NET105_SD17305.Data.Models.Bill
<div class="row">
    <div class="col-md-4">
        <form asp-area="Admin" asp-controller="QlBill" asp-action="UpdateBill">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
            <div class="form-group" style="display:none">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" readonly />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillStatus_Id" class="control-label"></label>
                <select asp-for="BillStatus_Id" class="form-control">
                    <option value="0">-- Select Bill Status --</option>
                    <option value="1">Chờ thanh toán</option>
                    <option value="2">Chờ xác nhận</option>
                    <option value="3">Đang giao hàng</option>
                    <option value="4">Đã nhận hàng</option>
                    <option value="5">Hủy đơn</option>
                    <option value="6">Trả hàng</option>
                </select>
            </div>
            <div class="form-group">
                <label  class="control-label">Người nhận</label>
                <input asp-for="RecipientName" class="form-control" />
                <span asp-validation-for="RecipientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Địa chỉ</label>
                <input asp-for="RecipientAddress" class="form-control"  />
                <span asp-validation-for="RecipientAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">SDT</label>
                <input asp-for="RecipientPhone" class="form-control" />
                <span asp-validation-for="RecipientPhone" class="text-danger"></span>
            </div>
            <div class="form-group">          
                <input asp-for="Payment_Type_Id" hidden class="form-control" readonly />      
            </div>
            <div class="form-group">
                <input asp-for="Discount" hidden class="form-control" readonly />
            </div>
            <div class="form-group">
                <label  class="control-label">Tổng tiền</label>
                <input asp-for="TotalAmount" class="form-control" readonly />
            </div>
            <div class="form-group">
                <input asp-for="Create_Date" hidden class="form-control" readonly />
            </div>
            <div class="form-group">
                <input asp-for="Payment_date" hidden class="form-control" readonly />
            </div>
            <div class="form-group">
                <input asp-for="Delivery_date" hidden class="form-control" readonly />
            </div>
            <div class="form-group">
                <input asp-for="Description" hidden class="form-control" readonly />
            </div>
            <div class="form-group">
                <input asp-for="ShippingFee" hidden class="form-control" readonly />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>